@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: 'Ubuntu', sans-serif; 
}

/* Titulo */
.titulo-presentacion{
    margin-left: 29%;
    margin-top: 9%;
    
}
.titulo-1{
    font-size: 750%;
    color:white;
}
/* estilos boton  */

button{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color:#ffffff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 18px;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink,blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

/* opciones  */

.barra-opciones{
    display: flex;
    justify-content: space-between;
    margin-top: 13%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;

}
.opcion {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 200%;
}
.opcion:hover {
    background-color: #261a93;
  }

/* sesion */  

.sesion{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(107, 144, 213);
    z-index: 9999; /* Asegura que la ventana emergente esté por encima del resto del contenido */
    margin-top: 5%;
    margin-left: 29%;
    margin-right: 29%;
    margin-bottom: 15%;
    border-radius: 10px; 
   
}
.sesion-titulo{
    margin-top: 15%;
    margin-left: 40%;
    font-size: 350%;
}
.sesion-lorem{
    margin-left: 24%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 200%;
}
.sesion-wsp{
    margin-top: 5%;
    margin-left: 24%;
    font-size: 200%;
}
.sesion-img{ 
    height: 30px;  
}
.sesion-btn{
    background-size: cover;
    position: absolute;
    top: -1.5%;
    left: 41%;
}
.sesion-btn2{
    height: 70px;
    background-size: cover;
    margin-left: 43%;
    margin-bottom: 5%; 
    margin-top: 5%;
}

/* master class */

.master{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(107, 144, 213);; /* Fondo semitransparente */
    z-index: 9999; /* Asegura que la ventana emergente esté por encima del resto del contenido */
    margin-top: 5%;
    margin-left: 29%;
    margin-right: 29%;
    margin-bottom: 5%;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 80%;
}

.master-titulo{
    font-size: 200%;
    margin-top: 9%;
    margin-left: 35%;
}

.master-p{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 200%;
}

.master-p2{
    margin-left: 25%;
    margin-top: 3%;
}

.master-videos{
    display: flex;
    margin-top: 3%; 
    margin-left: 15%;
    margin-right: 15%;
}

.master-preguntas{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 100%;
}

.p1{
    margin-left: 5%;
    margin-right: 5%;
}
.p2{
    margin-left: 5%;
    margin-right: 5%;
}
.p3{
    margin-left: 5%;
    margin-right: 5%;
}
.master-wsp{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 200%;
}
/* Clases */
.clases{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(107, 144, 213);; /* Fondo semitransparente */
    z-index: 9999; /* Asegura que la ventana emergente esté por encima del resto del contenido */
    margin-top: 5%;
    margin-left: 29%;
    margin-right: 29%;
    margin-bottom: 15%;
    border-radius: 10px;
    font-size: 200%;
}
.clases-titulo{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}
.clases-p1{
    margin-left: 10%;
}
.clases-p2{
    margin-left: 10%;
}
.clases-p3{
    margin-left: 10%;
}
.clases-p4{
    color: red;
    margin-left: 10%;
}
/* footer */

.barra-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.footer-inst{
    width: 7%;   
}
.footer-spo{
    width: 7%;
}


.sesion.mostrar {
    animation: aparecer-modal 0.3s ease-in-out forwards;
  }

  @keyframes aparecer-modal {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  

/* responsive */


@media (max-width: 1199px){

}

@media (max-width: 991px){

}

@media (max-width: 575px){
    /* Titulo */

.titulo-presentacion{
    margin-left: 23%;
    margin-top: 30%;   
}
.titulo-1{
    font-size: 400%;
    color:white
}
/* sesion */
    .sesion{
        font-size: x-small;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        margin-top: 15%;
    }
    .sesion-titulo{
        margin-left: 33%;
    }
    .sesion-lorem{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }
    .sesion-wsp{
        margin-top: 5%;
        margin-left: 10%;
        font-size: 200%;
    }
    .sesion-img{ 
        width: 8%; 
        height: auto;
        margin-left: 45%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    /* botones */
    button{
        font-size: 10px;
        padding: 8px 16px;
    }
    .barra-opciones{
        display: flex;
        margin-top: 30%;
        padding: 5px;
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
        
    }
    .opcion {
        color: #ffffff;
        text-decoration: none;
        padding: 4px 6px;
        border-radius: 6px;
        font-size: 110%;
    }
    .barra-opciones button{
        margin-bottom: 15px;
    }

    /* master class */

.master{
    display: none;
    position: fixed;
    z-index: 9999; /* Asegura que la ventana emergente esté por encima del resto del contenido */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 80%;
}
.master-titulo{
    margin-top: 10%;
    margin-left: 12%;
}

.master-p{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 150%;
}

.master-p2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 20%;
}

.master-videos{
    display: flex;
    margin-top: 3%; 
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    margin-bottom: 10%;
}
.instagram-media{
    width: 20px;
}
.youtube{
    width: 89%;
}

.master-preguntas{
    display: flex;
    margin-top: 5%;
    font-size: 100%;
    flex-direction: column;
}

.p1{
    margin-left: 7%;
    margin-right: 5%;
}
.p2{
    margin-left: 7%;
    margin-right: 5%;
}
.p3{
    margin-left: 7%;
    margin-right: 5%;
}
.master-wsp{
    margin-top: 5%;
    margin-left: 12%;
    font-size: 200%;
}

/* clases de bateria */
.clases{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
    font-size: 100%;
}
.clases-titulo{
    margin-left: 10%;
    margin-top: 15%;
}
.clases-p1{
    margin-left: 10%;
    margin-top: 10%;
}
.clases-p2{
    margin-left: 10%;
    margin-top: 10%;
}
.clases-p3{
    margin-left: 10%;
    margin-top: 10%;
}
.clases-p4{
    color: red;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
}

}





